* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.continer {
    margin: auto;
    width: 1280px;
}

header{
    width: 100%;
    height: 90px;
    position: sticky;
    top: 0;
    background-color: #ffffff;
    padding: 15px 0px;
    .head_nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: sticky;
        top: 0;
        .inputs{
        display: flex;
        align-items: center;
        border: 1px solid rgba(112, 192, 91, 1);
        width: 375px;
        height: 40px;
        justify-content: space-between;
    
        input{
            border: none;
            padding: 5px;
        }
        }
        .icons {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 15px;
        }
        .catalog {
            position: relative;
            display: flex;
            
            .catalog-btn {
              cursor: pointer;
              display: flex;
              align-items: center;
        
              display: flex;
              align-items: center;
              border: none;
              width: 140px;
              height: 40px;
              padding: 8px 8px;
              gap: 15px;
              border-radius: 4px;
              background-color: rgba(112, 192, 91, 1);
              font-family: Rubik;
              font-size: 16px;
              font-weight: 400;
              line-height: 24px;
              text-align: center;
              color: rgba(255, 255, 255, 1);
              cursor: pointer;
              
              img {
                margin-right: 10px;
              }
            }
          
            .dropdown-menu {
              
              list-style: none;
              padding: 0;
              margin: 0;
              display: none;
              position: absolute;
              top: 100%;
              left: 0;
              background-color: #fff;
              box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
              z-index: 10;
              width: 1000px;
          
              li {
                a {
                  display: block;
                  padding: 10px 20px;
                  color: #333;
                  text-decoration: none;
                  transition: background-color 0.3s;
                  font-size: 20px;
                  font-family: Rubik;
          
                  &:hover {
                    color: #db1c1c;
                  }
                }
              }
            }
          
            &:hover .dropdown-menu {
              display: block;
            }
          }

        
          
    }
}

  

main {
    background-color: rgba(249, 245, 241, 0.701);
}

.section-1 {
    width: 100%;
    height: 100%;
    padding: 20px 0px;

    span {
        font-family: Rubik;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        text-align: center;
        display: flex;
        align-items: center;
        gap: 10px;
        color: rgba(143, 143, 143, 1);
        cursor: pointer;
    }
}

.section-2 {
    width: 100%;
    height: 100%;
    padding: 50px 0px;

    .katalog_menu {
        h1 {
            font-family: Rubik;
            font-size: 64px;
            font-weight: 700;
            line-height: 96px;
            text-align: left;
            color:  #3c3c3c;
            padding-bottom: 60px;
        }
        .katalog_menu_imgs{
            display: flex;
           justify-content: space-between;
            padding-bottom: 40px;
            img{
                height: 200px;
            }
        }
    }
}
footer {
    width: 100%;
    height: 120px;
    background-color: rgba(249, 245, 241, 0.701);
    background-image: url(/images/bg.png);

    .footer_div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 0px;

        ul {
            list-style: none;
            display: flex;
            gap: 40px;

            a {
                text-decoration: none;
                font-family: Rubik;
                font-size: 12px;
                font-weight: 400;
                line-height: 18px;
                text-align: left;
                color: rgba(65, 65, 65, 1);
            }
        }

        .footer_socials {
            display: flex;
            align-items: center;
            gap: 15px;
            cursor: pointer;
        }

        span {
            display: flex;
            align-items: center;
            gap: 8px;
            font-family: Rubik;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            text-align: left;
            color: rgba(65, 65, 65, 1);
        }
    }

    .footer_div_bottom {
        span {
            display: flex;
            align-items: center;
            justify-content: end;
            gap: 8px;
            font-family: Rubik;
            font-size: 12px;
            font-weight: 400;
            line-height: 18px;
            text-align: left;
            color: rgba(65, 65, 65, 1);
        }
    }
}
